In [1]:
import yfinance as yf
import pandas as pd
import pandas_datareader.data as pdr
from datetime import datetime
import matplotlib.pyplot as plt
start = datetime(2021, 1, 1)
end = datetime(2022, 11, 28)
apple= yf.Ticker("blk")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

# + other methods etc.

Series([], Name: Stock Splits, dtype: int64)

In [29]:
apple.history(start=start, end=end)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-31,679.236883,693.580470,678.699241,692.735596,361500,0.0,0
2021-01-04,701.433880,701.433880,674.014019,682.443542,623600,0.0,0
2021-01-05,680.513730,688.578419,677.105461,686.053406,431400,0.0,0
2021-01-06,690.066458,715.057286,687.512615,705.619751,730700,0.0,0
2021-01-07,718.465785,723.198969,713.348546,720.462708,656000,0.0,0
...,...,...,...,...,...,...,...
2022-11-18,730.229980,730.650024,718.989990,720.609985,626200,0.0,0
2022-11-21,716.580017,728.500000,715.479980,723.700012,656800,0.0,0
2022-11-22,727.190002,737.030029,726.099976,733.450012,605500,0.0,0
2022-11-23,731.479980,741.000000,729.260010,736.320007,489000,0.0,0
2022-11-25,734.460022,739.849976,727.650024,737.780029,301600,0.0,0

In [30]:
apple.quarterly_cashflow

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Investments,-7.800000e+07,-1.860000e+08,-5.100000e+07,-2.230000e+08
Change To Liabilities,2.410000e+08,-1.660000e+08,4.800000e+07,-1.200000e+07
Total Cashflows From Investing Activities,-2.140000e+08,-3.020000e+08,-1.980000e+08,-3.580000e+08
Total Cash From Financing Activities,-1.044000e+09,-1.921000e+09,-1.351000e+09,4.080000e+08
Change To Operating Activities,2.000000e+08,1.550000e+08,-2.027000e+09,1.031000e+09
Net Income,1.406000e+09,1.077000e+09,1.436000e+09,1.643000e+09
Change In Cash,3.160000e+08,-7.810000e+08,-2.061000e+09,1.962000e+09
Repurchase Of Stock,-3.840000e+08,-5.070000e+08,-9.360000e+08,-3.030000e+08
Effect Of Exchange Rate,-1.860000e+08,-2.030000e+08,-9.000000e+07,-5.000000e+06
Total Cash From Operating Activities,1.760000e+09,1.645000e+09,-4.220000e+08,1.917000e+09
Depreciation,1.090000e+08,9.900000e+07,1.000000e+08,1.100000e+08
Dividends Paid,-7.360000e+08,-7.370000e+08,-7.860000e+08,-6.270000e+08
Change To Account Receivables,3.800000e+07,2.430000e+08,-2.700000e+07,2.050000e+08
Other Cashflows From Financing Activities,7.600000e+07,7.300000e+07,3.710000e+08,3.470000e+08
Change To Netincome,-3.360000e+08,1.660000e+08,4.000000e+06,-1.270000e+09
Capital Expenditures,-1.360000e+08,-1.160000e+08,-1.470000e+08,-1.260000e+08
Net Borrowings,NaN,-7.500000e+08,-7.500000e+08,9.910000e+08

In [31]:
apple.major_holders

        0                                      1
0   1.04%        % of Shares Held by All Insider
1  80.38%       % of Shares Held by Institutions
2  81.22%        % of Float Held by Institutions
3    2279  Number of Institutions Holding Shares